body {
  background-color: rgb(15, 11, 11);
  color: rgb(232, 232, 232);
  font-size: 18px;
  margin-inline: auto;
  max-width: 1024px;
}

h1 {
  color: rgb(96, 62, 66);
}

h2,
h3 {
  color: rgb(160, 98, 105);
  padding-inline: 30px;
}

p {
  line-height: 1.5;
  text-align: justify;
  padding-inline: 30px;
}

a {
  color: rgb(210, 210, 210);
}

code {
  font-size: 12px;
  font-family: monospace;
  font-weight: 500;
}

img {
  width: 30%;
  height: auto;
}

.header,
.navigation,
.postheader,
.footer {
  text-align: center;
}

.block-code,
.inline-code {
  background-color: rgb(96, 62, 66);
  border-radius: 4px;
}

.postimage {
  width: 50%;
  margin-inline: 25%;
}

.duoimagecontainer {
  display: flex;
  justify-content: center;
  gap: 2%;
}

.duoimage {
  width: 39%;
}

.postitem {
  color: rgb(193, 165, 168);
  text-align: left;
  margin: 10px 50px;
}

.header {
  margin-top: 30px;
}

.navigation {
  padding-bottom: 10px;
}

.postheader {
  margin-top: 10px;
}
.footer {
  padding-top: 10px;
}

.navitem {
  padding-inline: 30px;
}

.link-highlight {
  color: rgb(193, 165, 168);
}

.block-code {
  margin: 10px 30px;
  padding: 10px;
}

.inline-code {
  padding: 2px 4px;
}

.quote {
  color: rgb(187, 187, 187);
  border-left: 4px solid rgb(102, 102, 102);
  font-style: italic;
  text-align: justify;
  margin: 10px 30px;
  padding-left: 16px;
}

.quote blockquote.quote {
  color: rgb(204, 204, 204);
  border-left: 4px solid rgb(136, 136, 136);
  margin: 10px 0px 10px 16px;
  padding-left: 12px;
}

.spoiler {
  background-color: rgb(96, 62, 66);
  color: rgb(96, 62, 66);
}

.spoiler:hover {
  background-color: rgb(15, 11, 11);
  color: rgb(232, 232, 232);
}

.zoomimage {
  cursor: pointer;
  transition: opacity 0.25s;
}

.zoomimage:hover {
  opacity: 0.8;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 11, 11, 0.5);
  backdrop-filter: blur(5px);
}

.modal-content {
  margin: auto;
  display: block;
  width: auto;
  height: auto;
  min-width: 35vw;
  min-height: auto;
  max-width: 75%;
  max-height: 75vh;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  animation: zoomIn 0.25s ease-out;
  object-fit: contain;
}

@keyframes zoomIn {
  from {
    transform: translateY(-50%) scale(0.8);
    opacity: 0;
  }
  to {
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }
}
