body {
  background-color: rgb(15, 11, 11);
  color: rgb(232, 232, 232);
  font-size: 18px;
  margin-inline: auto;
  max-width: 1024px;
}

h1 {
  color: rgb(96, 62, 66);
}

h2,
h3 {
  color: rgb(160, 98, 105);
  padding-inline: 30px;
}

p {
  line-height: 1.5;
  text-align: justify;
  padding-inline: 30px;
}

a {
  color: rgb(210, 210, 210);
}

code {
  font-size: 12px;
  font-family: monospace;
  font-weight: 500;
}

img {
  width: 30%;
  height: auto;
}

.header,
.navigation,
.postheader,
.footer {
  text-align: center;
}

.block-code,
.inline-code {
  background-color: rgb(96, 62, 66);
  border-radius: 4px;
}

.postimage {
  width: 50%;
  margin-inline: 25%;
}

.duoimagecontainer {
  display: flex;
  justify-content: center;
  gap: 2%;
}

.duoimage {
  width: 39%;
}

.postitem {
  color: rgb(193, 165, 168);
  text-align: left;
  margin: 10px 50px;
}

.header {
  margin-top: 30px;
}

.navigation {
  padding-bottom: 10px;
}

.postheader {
  margin-top: 10px;
}
.footer {
  padding-top: 10px;
}

.navitem {
  padding-inline: 30px;
}

.link-highlight {
  color: rgb(193, 165, 168);
}

.block-code {
  margin: 10px 30px;
  padding: 10px;
}

.inline-code {
  padding: 2px 4px;
}

.spoiler {
  background-color: rgb(96, 62, 66);
  color: rgb(96, 62, 66);
}

.spoiler:hover {
  background-color: rgb(15, 11, 11);
  color: rgb(232, 232, 232);
}
