body {
  background-color: rgb(15, 11, 11);
  color: rgb(232, 232, 232);
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}

h1 {
  color: rgb(96, 62, 66);
}

h2,
h3 {
  color: rgb(160, 98, 105);
}

p {
  line-height: 1.5;
}

a {
  color: rgb(210, 210, 210);
}

span {
  background-color: rgb(96, 62, 66);
  color: rgb(96, 62, 66);
}

span:hover {
  background-color: rgb(15, 11, 11);
  color: rgb(232, 232, 232);
}

pre {
  margin-top: 10px;
  padding: 10px;
  background-color: rgb(96, 62, 66);
}

code {
  font-size: 12px;
  font-family: monospace;
  font-weight: 500;
}

img {
  width: 30%;
  height: auto;
}

.header,
.navigation,
.postheader,
.footer {
  text-align: center;
}

.postimage {
  width: 50%;
  margin-inline: 25%;
}

.postimagebig {
  width: 100%;
}

.postitem {
  color: rgb(193, 165, 168);
  text-align: left;
  margin: 10px 50px;
}

.header {
  margin-top: 30px;
}

.navigation {
  padding-bottom: 10px;
}

.postheader {
  margin-top: 10px;
}
.footer {
  padding-top: 10px;
}

.navitem {
  padding: 0px 30px;
}

