<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.png" />
    <title>Title</title>
  </head>

  <body>
    <div class="header">
      <h1>NecRaul's website</h1>
      <h2>Alternate title</h2>
    </div>

    <div class="navigation">
      <a class="navitem" href="/kuroneko/">Kuroneko</a>
      <a class="navitem" href="/about/">About Me</a>
      <a class="navitem" href="/">Home</a>
      <a class="navitem" href="/posts/">Ramblings</a>
      <a class="navitem" href="/3x3/">3x3 stuff</a>
    </div>

    <hr />

    <div class="postheader">
      <h2>Title</h2>
      <em id="date">MMMM d, yyyy</em>
    </div>

    <br />

    <img
      class="postimage zoomimage"
      src="/images/post/postname/image.extension"
    />

    <h3>Header</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
      do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
      ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>

    <div class="duoimagecontainer">
      <img
        class="duoimage zoomimage"
        src="/images/post/postname/image.extension"
      />
      <img
        class="duoimage zoomimage"
        src="/images/post/postname/image.extension"
      />
    </div>

    <h3>Another Header</h3>
    <p>
      <span class="spoiler">Lorem ipsum dolor</span> sit amet, consectetur
      adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore
      <code class="inline-code">magna aliqua</code>. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
      non proident, sunt in culpa qui officia deserunt mollit anim id est
      laborum.
      <a class="link-highlight" href="https://kuroneko.dev" target="_blank"
        >Lorem ipsum</a
      >
      dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
      nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
      non proident, sunt in culpa qui officia deserunt mollit anim id est
      laborum.
    </p>
    <ul>
      <li class="postitem">Item 1</li>
      <ul>
        <li class="postitem">Item 1a</li>
        <li class="postitem">Item 1b</li>
      </ul>
      <li class="postitem">Item 2</li>
      <li class="postitem">Item 3</li>
    </ul>

    <blockquote class="quote">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
      <blockquote class="quote">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </blockquote>
    </blockquote>

    <video class="postimage" controls>
      <source src="/videos/post/postname/video.webm" type="video/webm" />
    </video>

    <pre class="block-code">
<code>function Panel(element, canClose, closeHandler) {
  this.element = element;
  this.canClose = canClose;
  this.closeHandler = function () { if (closeHandler) closeHandler() };
}</code></pre>

    <pre
      class="block-code"
    ><code><a href="https://kuroneko.dev" target="_blank">https://kuroneko.dev</a></code></pre>

    <br />

    <hr />

    <div class="footer">
      <a class="navitem" href="mailto:necraul@kuroneko.dev" target="_blank"
        >Contact</a
      >
      <a class="navitem" href="https://github.com/NecRaul" target="_blank"
        >Github</a
      >
      <a class="navitem" href="/feed.xml" target="_blank">RSS</a>
      <a
        class="navitem"
        href="https://github.com/NecRaul/kuroneko-dev"
        target="_blank"
        >Source</a
      >
    </div>
    <div id="image-modal" class="modal">
      <img class="modal-content" id="enlarged-image" />
    </div>
    <script type="text/javascript" src="/javascript/title.js"></script>
    <script type="text/javascript" src="/javascript/modal.js"></script>

    <audio autoplay>
      <source src="/sounds/post/postname/sound.mp3" />
    </audio>

    <br />
  </body>
</html>
